/*
0 - 600px:      Phone
600px - 900px:   Tablet portrait
900px - 1200px:  Tablet landscape
1200px - 1800px: is where our normal stlyes apply
1800px *:    Big Desktop

Break point arguments 
- phone
- tab-port 
- tab-land
- big- desk top
    // Defines what 1rem is
1em = 16px 
*/
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5); }
  100% {
    opacity: 1; } }

/* Basic Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5rem) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  font-weight: 400; }

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  font-weight: 400;
  font-size: 16px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  font-size: 5.5rem;
  letter-spacing: .5rem;
  font-weight: 100; }
  @media (max-width: 56.25em) {
    .heading-primary {
      font-size: 3.5rem; } }
  @media (max-width: 37.5em) {
    .heading-primary {
      font-size: 3rem; } }
  .heading-primary--main {
    display: block; }
  .heading-primary--sub {
    display: block; }

.heading-secondary {
  font-size: 4.5rem;
  text-transform: capitalize;
  font-weight: 300;
  display: inline-block;
  letter-spacing: .2rem;
  font-weight: 300;
  font-family: 'Abril Fatface', cursive; }
  .heading-secondary--white {
    color: #fff;
    font-weight: 300; }

.heading-tertiary {
  text-transform: capitalize;
  font-size: 3.5rem;
  font-weight: 300;
  font-family: 'Abril Fatface', cursive; }
  .heading-tertiary--white {
    color: #fff; }

.heading-sub {
  text-transform: capitalize;
  font-size: 2.5;
  font-weight: 300;
  font-family: 'Abril Fatface', cursive; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 300; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-left-text {
  text-align: left; }

.u-margin-bottom-extra-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 2px;
  transition: all .2s;
  font-size: 1.6rem;
  display: inline-block;
  position: relative;
  border: none;
  cursor: pointer; }
  .btn--primary {
    background-color: #edbd46;
    color: #fff; }
  .btn:link, .btn:visited {
    transition: all .2s; }
  .btn:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(237, 189, 70, 0.15); }
  .btn:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba(237, 189, 70, 0.15); }

.btn-arrow {
  text-decoration: none;
  font-size: 4rem;
  color: #fff;
  animation: blickingBtn 2s infinite; }

.services-card {
  width: 45%;
  height: 50%;
  background-color: #fff;
  text-align: left;
  float: left;
  margin: 1rem;
  padding: 2rem;
  transition: all .2s;
  border-radius: .1rem; }
  .services-card__icon {
    color: #edbd46;
    padding: 1rem;
    font-size: 3rem; }
  .services-card:hover {
    transform: translateY(-1rem);
    box-shadow: 6px 4px 31px -5px rgba(140, 140, 140, 0.75); }

.reviews-card {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  transition: all .2s; }
  .reviews-card__img {
    float: left; }
    .reviews-card__img--p {
      border-radius: 100rem;
      height: 7rem;
      width: 7rem;
      margin: .5rem; }
  .reviews-card__rating {
    color: #D4AF37;
    font-size: 2rem;
    margin: 1rem;
    float: left; }
  .reviews-card__paragraph {
    font-size: 1.5rem;
    clear: left;
    margin-bottom: 2rem; }
  .reviews-card__name {
    font-size: 1.5rem;
    color: #edbd46;
    border-top: 1px solid #777;
    padding-top: 1rem; }
  .reviews-card:hover {
    transform: translateY(-1rem); }

.composition {
  position: relative;
  height: auto;
  width: 55%;
  margin-left: 5rem; }
  .composition__photo {
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    transition: all .2s; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 20;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.composition-2 {
  margin-top: 5rem;
  margin-right: 15rem;
  width: 100%;
  float: right;
  z-index: 99;
  position: relative; }

.background-box {
  height: 25rem;
  width: 20rem;
  background-color: #f9f9fb;
  position: relative;
  top: 25rem;
  left: 55rem; }

.gallery-img {
  transition: all .2s ease-in-out; }
  .gallery-img:hover {
    transform: scale(1.1); }
  .gallery-img--1 {
    background-image: linear-gradient(to right, black, rgba(255, 255, 255, 0)), url(../img/food-1.jpg);
    height: 25rem;
    width: 28rem;
    float: left;
    position: relative;
    top: 15rem; }
  .gallery-img--2 {
    height: 25rem;
    width: 28rem;
    float: left;
    position: relative; }
  .gallery-img--3 {
    height: 25rem;
    width: 28rem;
    float: left;
    position: relative;
    bottom: 10rem; }
  .gallery-img--4 {
    height: 25rem;
    width: 28rem;
    float: left;
    position: relative;
    top: 20rem; }
  .gallery-img--5 {
    height: 25rem;
    width: 28rem;
    float: left;
    position: relative;
    left: 28rem; }
  .gallery-img--6 {
    height: 25rem;
    width: 28rem;
    float: left;
    position: relative;
    top: 15rem;
    left: 28rem; }
  .gallery-img--7 {
    height: 25rem;
    width: 28rem;
    float: left;
    position: relative;
    bottom: 10rem; }

.float-img--1 {
  position: relative;
  height: 50rem;
  width: 65rem;
  bottom: 17rem;
  left: 3rem;
  z-index: 0; }

.hidden {
  opacity: 0; }

.view {
  transition: opacity .5s ease; }

.section-cta {
  background-image: url(../img/cover14.jpg);
  background-repeat: no-repeat;
  background-position: right; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  color: inherit;
  resize: none; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #edbd46; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #FF0000; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: all .3s; }

.section-reviews__icon {
  color: #edbd46;
  font-size: 4rem;
  text-align: center; }

.header {
  min-height: 95vh;
  background-image: linear-gradient(to right, black, rgba(255, 255, 255, 0)), url(../img/pad-thai.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%; }
  .header__text-box {
    position: absolute;
    top: 35%;
    left: 10%; }
  @media (max-width: 37.5em) {
    .header {
      min-height: 85vh;
      text-align: center; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #333;
  padding: 3rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .footer {
      text-align: center; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 20rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__link:hover {
    color: #edbd46;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: scale(2); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding: 1rem;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }
    .footer__copyright--block {
      display: inline-block;
      margin-bottom: 2rem; }

.sticky {
  margin-top: -4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999; }
  .sticky .navigation__logo {
    padding-left: 14rem; }
  .sticky .navigation__list {
    padding-right: 14rem;
    padding-top: 1rem; }
  .sticky .navigation__link {
    color: #000;
    padding-bottom: 2rem; }

.navigation__logo {
  height: 5.5rem;
  width: auto;
  float: left;
  margin-top: 5rem; }

.navigation__list {
  margin-top: 5rem;
  list-style: none;
  float: right; }

.navigation__item {
  display: inline-block;
  font-size: 1.5rem; }
  .navigation__item:not(:last-child) {
    margin-right: 3rem; }

.navigation__link {
  text-decoration: none;
  color: #fff;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  font-weight: 100;
  text-transform: uppercase;
  transition: all .2s;
  margin-bottom: 3rem;
  border-bottom: solid transparent 2px;
  padding-bottom: 1rem; }
  .navigation__link:hover {
    margin-bottom: 3rem;
    border-bottom: solid #edbd46 2px; }

.section-about {
  padding: 10rem 0 25rem 0;
  background-color: #fff;
  margin-top: -20rem; }

.section-services {
  padding: 10rem 0 10rem 0;
  background-color: #f9f9fb; }

.section-menu {
  padding: 10rem 0 10rem 0; }

.section-gallery {
  padding: 10rem 0 25rem 0;
  background-color: #f9f9fb; }

.section-cta {
  padding: 15rem 0 20rem 0; }

.section-reviews {
  padding: 5rem 0;
  background-color: #f9f9fb; }

.section-contact {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #edbd46, #f7cf6f); }

.contact {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/salad.jpg);
  background-size: cover;
  border-radius: 3px;
  height: 55rem; }
  .contact__form {
    width: 50%;
    padding: 6rem; }
