@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

// Media Query Manger

/*
0 - 600px:      Phone
600px - 900px:   Tablet portrait
900px - 1200px:  Tablet landscape
1200px - 1800px: is where our normal stlyes apply
1800px *:    Big Desktop

Break point arguments 
- phone
- tab-port 
- tab-land
- big- desk top
    // Defines what 1rem is
1em = 16px 
*/

@mixin respond ($break-point) {
    @if $break-point == phone {
        @media(max-width: 37.5em) {@content}; //600px
    }
    @if $break-point == tab-port {
        @media(max-width: 56.25em) {@content}; //900px
    }
    @if $break-point == tab-land {
        @media(max-width: 75em) {@content};  //1200px
    }
    @if $break-point == big-desktop {
        @media(min-width: 112.5rem) {@content}; //1800px
    }
    
}
