// Colors
$color-primary: #edbd46;
$color-primary-light: #f7cf6f;

$color-secondary: #ff7730;
$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f9f9fb;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-red: #FF0000;


$color-gold: #D4AF37;
//Font
$default-font-size: 1.6rem;

//Radius
$border-radius-small: 3px;

//Grid 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;