.header {
    height: 100vh;
    background-image: url(../img/header1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    
    &__logo {
        height: 5.5rem;
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }

}

.navigation{
    position: absolute;
    top: 4rem;
    left: 70%;
    
    &__nav {
        
    }
    &__list{
        list-style: none;
        
        
    }
    
    &__item {
        float: left;
    
    }

    &__link {
        text-decoration: none;
        color: $color-white;        
    }
}