.sticky {

    margin-top: -4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;

    .navigation {
        &__logo {
            padding-left: 14rem;
        }

        &__list {
            // padding-right: 14rem;
            padding-top: 1rem;
        }
        &__item {
            display: inline-block;
            font-size: 1.5rem;
           
            &:not(:last-child) {
                margin-right: 3rem;
            }
        }

        &__link {
            color: $color-black;
            padding-bottom: 2rem;
        }
    }
   
    @include respond(tab-port){
        .sticky {
            .navigation {
                display: none !important;
            }
        }
    }
}


.navigation {


    &__logo {

        height: 5.5rem;
        width: auto;
        float: left;
        margin-top: 5rem;
    }

    &__list {
        margin-top: 5rem;
        list-style: none;
        float: right;

    }

    &__item {
        display: inline-block;
        font-size: 1.5rem;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }

    &__link {

        text-decoration: none;
        color: $color-white;
        margin-bottom: 3rem;
        font-size: 1.6rem;
        font-weight: 100;
        text-transform: uppercase;
        transition: all .2s;
        margin-bottom: 3rem;
        border-bottom: solid transparent 2px;
        padding-bottom: 1rem;

        &--icon{
            display: none;
        }
        &:hover {
            margin-bottom: 3rem;
            border-bottom: solid $color-primary 2px;
        }
    }
    @include respond(tab-port){
        .navigation {
    
            &__logo {
           
                padding-left: 1rem;
            }
        
            &__list {
                margin-top: 5rem;
                list-style: none;
                float: none;
                text-align: center;
                // display: none;
                display: inline-block;
            }
        
            &__item {
                // display: block;
                display: none;
                &:not(:last-child) {
                    // display: none;
                }
            }
        
            &__link {
        
                text-decoration: none;
                color: $color-black;
                margin-bottom: 3rem;
                font-size: 1.6rem;
                font-weight: 100;
                text-transform: uppercase;
                transition: all .2s;
                margin-bottom: 3rem;
                border-bottom: solid transparent 2px;
                padding-bottom: 1rem;
        
                &--icon{
                    display: inline;
                    font-size: 2.5rem;
                    border-bottom: none;
                }
                &:hover {
                    margin-bottom: 3rem;
                    border-bottom: solid $color-primary 2px;
                }
            }
        
        }
    }
}

// .nav-responsive{
//     background-color: red;
//         float: none;
//         display: block;
//         text-align: left;
        
// }