.btn{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all .2s;
    font-size: 1.6rem;
    display: inline-block;

    position: relative;
    border: none;
    cursor: pointer;

    &--primary {
        background-color: $color-primary;
        color: $color-white;
    }
}