.composition {
    position: relative;

    &__photo {
        width: 100%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 5px;
        position: absolute;
        z-index: 10;
        transition: all .2s;

        &:hover {
            transform: scale(1.05) translateY(-.5rem);
            z-index: 20;
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}

.meals {

    list-style: none;
    width: 100%;

    &__list {
        display: block;
        float: left;
        width: 25%;
    }

    &__photo {
        width: 100%;
        margin: 0;
        overflow: hidden;

        img {

            width: 100%;
            height: auto;
        }
    }
}


// .image-car {
//     width: 640px;
//     height: auto;
//     overflow: hidden;
//     position: relative;
    
//     .inner {
//         display: flex;
//         position: absolute;
//         left: -640px;
//     }
// }