.composition {
    position: relative;
    height: auto;
    width: 55%;
    margin-left: 5rem;
    &__photo {
        width: 100%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 5px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        
        &:hover {
            transform: scale(1.05) translateY(-.5rem);
            z-index: 20;
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}

.composition-2 {
    margin-top: 5rem;
    margin-right: 15rem;
    width: 100%;
    float: right;
    z-index: 99;
    position: relative;

}

.background-box {
    height: 25rem;
    width: 20rem;
    background-color: $color-grey-light-3;
    position: relative;
    top: 25rem;
    left: 55rem;
    
}
