.section-cta {
    // background-image: linear-gradient(
    //     to right,
    //     rgba($color-white,7),
    //     rgba($color-white,0)), 
    //     url("../img/header1.jpg");
    background-image:  url(../img/cover14.jpg);

    background-repeat: no-repeat;
  
  background-position: right; 
  

}