body {
    
    font-family: "Lato", sans-serif;
    line-height: 1.7;
    font-weight: 400;
    font-size: 16px;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    font-size: 3.5rem;
    letter-spacing: .1rem;
    font-weight: 100;
    
    &--main {
        display: block;
    }

    &--sub {
        display: block;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    letter-spacing: .2rem;

    &--white{
        color: $color-white;
        font-weight: 300;
    }
}
.heading-tertiary{
    text-transform: capitalize;
    font-size: 3.5rem;
    font-weight: 300;
    font-family: 'Abril Fatface', cursive; 
    &--white{
        color: $color-white;
    }
}

.paragraph {
    font-size: $default-font-size;
    font-weight: 300;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}

