body {
    
    font-family: "Lato", sans-serif;
    line-height: 1.7;
    font-weight: 400;
    font-size: 16px;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    font-size: 3.5rem;
    letter-spacing: .5rem;
    font-weight: 100;
}